.playerContainer {
    display: block;
}

body {
    background-color: #808080;
}

.formLink {
    color: blue;
    text-decoration: none;
}

.formLink:hover {
    color: rgb(115, 115, 250);
    text-decoration: none;
}

.navbar-color {
    background-color: rgb(211, 108, 117);
}
.line-break {
    text-align: left;
}
.card-color {
    background-color: rgb(211, 108, 117);
    color: white;
}

.color-button {
    background-color: rgb(211, 108, 117);
    color: white;
}

.fancy-font {
    font-family: "Righteous", cursive;
}

.other-color {
    background-color: #808080;
}

.invalid {
    color: red;
}

.valid {
    color: green;
}

@media screen and (min-width: 600px) {
    .playerContainer {
        display: flex;
        justify-content: center;
    }
    /* .center-button {
        display: flex;
        justify-content: center;
    } */
}
