.navbar-color {
    background-color: rgb(211, 108, 117);
}

.formLink {
    color: blue;
    text-decoration: none;
}

.formLink:hover {
    color: rgb(115, 115, 250);
    text-decoration: none;
}

.line-break {
    text-align: left;
}

.card-color {
    background-color: rgb(211, 108, 117);
    color: white;
}

.color-button {
    background-color: rgb(211, 108, 117);
    color: white;
}

.fancy-font {
    font-family: "Righteous", cursive;
}
